<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR App</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css"/>
</head>
<body>
<div class="container pt-2 col-md-12">
    <div class="row">
        <div class="col-md-4">
            <h5>Employees</h5>
            <span class="badge bg-secondary" th:text="${employees.size()}"></span>
        </div>

        <div th:fragment="message-panel" class="col-md-4">
            <div th:if="${success!=null}" class="alert" role="alert" th:classappend="${success}==true ? 'alert-primary' : 'alert-danger'">
                <span th:utext="${message.replace('*', '<br/>')}"></span>
            </div>
        </div>

        <div class="col-md-4">
            <span class="float-end"><a th:href="@{/employees/new}">New employee<i class="fas fa-long-arrow-alt-right"></i></a></span>
        </div>
    </div>

    <div class="row>">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Monthly Salary</th>
                <th>Start Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:classappend="${index.even} ? 'list-group-item-secondary' : ''" th:object="${employee}" th:each="employee, index : ${employees}">
                <td th:text="${employee.id}">Id</td>
                <td><a th:text="${employee.fullName}" th:href="@{/employees/edit/{id}(id=${employee.id})}"></a></td>
                <td th:text="${employee.position}"></td>
                <td th:text="${#numbers.formatInteger(employee.monthlySalary,0,'WHITESPACE')}"></td>
                <td th:text="${#temporals.format(employee.startDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <a th:href="@{/employees/edit/{id}(id=*{id})}" class="text-primary"><i class="fas fa-pencil-alt"></i></a>
                    <a th:href="@{/employees/delete/{id}(id=*{id})}" class="text-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>
</html>